:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.row-changed {
  background-color: #fff3cd !important; /* A light yellow, good for highlighting */
  font-weight: 500;
}

/* Optional: Style for changed rows on hover */
.row-changed:hover {
  background-color: #ffeeba !important;
}